@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --brand: #2E40B5;
    --black: #302B27;
    --gray: #F5F3F5;
    --highlight: #F6CACA;
    --backg: #FAF9F7;
    --hover: #30321C;

}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.label__logo {
    display: block;
    margin: auto;
    padding: 50px 0;
}

.label__section {
    background-color: var(--backg);
    grid-column: 1 / 2;
    /* position: fixed; */
}

.label__section h3 {
    padding: 0 50px;
}

.drop-section {
    overflow-x: hidden;
}

.label__title {
    display: flex;
    padding: 0 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.arrow {
    float: right;
    padding-right: 6px;
    transition: transform 0.5s ease-in-out;
}
.lineArrow {
    position: relative;
}

.arrow-container {
    position: absolute;
    top: 10%;
    left: 85%;
}


.label__subtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 50px;
    height: auto;
}
.label__subtitle img {
    width: 100%;
    max-width: 33px;
}

.highlighted {
    background-color: var(--highlight);
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.first-chld {
    color: var(--brand);
    transition: transform 0.5s ease-in-out;
}

.label__subtitle-title img {
    border-radius: 50px;
}

.label__subtitle-title, .label__subtitle-feature  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.label__subtitle-title h4, .label__subtitle-feature h4  {
    padding-left: 5px;
}

.text-styles {
    color: var(--black);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.10px;
    word-wrap: break-word
}

/* ___________ */
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    padding-top: 20px;
    margin-right: 15%;
  }

  /* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 45px;
    font-size: 1rem;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: var(--hover);
  }

  /* Add an active class to the active dropdown button */
.active {
    background-color: var(--highlight);
    color: var(--black);
    border-radius: 0 25px 25px 0;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    padding-left: 8px;
  }
  